---
import "../styles/style.css";
import Navi from "../components/Navi.astro";
import Library from "../components/Library.astro";
import Footer from "../components/Footer.astro";
import PlaylistCard from "../components/PlaylistCard.astro";
import Collection from "../components/Collection.astro";
import TopBar from "../components/TopBar.astro";
import Cookie from "../components/Cookie.astro";
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
<body>
<nav class="grid_2">	
  <Navi />
	<Library />
	<Cookie />	
</nav> 
<header>
<TopBar />
</header>
<main>
	<Collection title="Focus">
 		<PlaylistCard
          imgPath="https://picsum.photos/id/14/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
		  <PlaylistCard
          imgPath="https://picsum.photos/id/15/350/350.webp"
          title="Deep Focus"
          body="Keep calm and focus with ambient and post-rock music."
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/16/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/17/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/11/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/12/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
</Collection>
<Collection title="Spotify Playlist">
  <PlaylistCard
          imgPath="https://picsum.photos/id/18/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/19/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/20/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/21/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/22/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/23/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
        <PlaylistCard
          imgPath="https://picsum.photos/id/24/350/350.webp"
          title="Peaceful Piano"
          body="Relax and indulge with beautiful piano pieces"
        />
</Collection>
</main>
<footer class="sticky">
<Footer />
</footer>
</body>
</html>

<style>
  body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "nav topbar"
      "nav main"
      "footer footer";
    height: 100%;
  }
  :global(main) {
    grid-area: main;
  }
  :global(nav) {
    grid-area: nav;
  }
  :global(.topbar) {
    grid-area: topbar;
  }
  :global(footer) {
    grid-area: footer;
  }

  main {
    display: grid;
    grid-auto-rows: min-content;
    background: linear-gradient(#1E1E1E 0, #121212 100%) 0 0 / 100% 20rem no-repeat, #121212;
    overflow-y: auto;

  }

  @media (width > 1000px) {
    main {
      padding: 1.5rem 2rem;
    }
  }
  .sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}
</style>