---
import Button from "../components/Button.astro";
---
<section>
<div class="header">
<svg role="img" height="24" width="24" aria-hidden="true" class="Svg-sc-ytk21e-0 uPxdw collection-active-icon" viewBox="0 0 24 24" data-encore-id="icon" xmlns="http://www.w3.org/2000/svg"><path d="M3 22a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v18a1 1 0 0 1-1 1zM15.5 2.134A1 1 0 0 0 14 3v18a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V6.464a1 1 0 0 0-.5-.866l-6-3.464zM9 2a1 1 0 0 0-1 1v18a1 1 0 1 0 2 0V3a1 1 0 0 0-1-1z"></path></svg>	
<a href="#0">Your Library</a>
<svg role="img" height="12" width="12" aria-hidden="true" viewBox="0 0 16 16" data-encore-id="icon" class="Svg-sc-ytk21e-0 uPxdw" xmlns="http://www.w3.org/2000/svg"><path d="M15.25 8a.75.75 0 0 1-.75.75H8.75v5.75a.75.75 0 0 1-1.5 0V8.75H1.5a.75.75 0 0 1 0-1.5h5.75V1.5a.75.75 0 0 1 1.5 0v5.75h5.75a.75.75 0 0 1 .75.75z"></path></svg></div>
<div class="box">
    <div class="playlist">
    <h3>Create your first playlist</h3>
    <p>It's easy, we'll help you</p>
    <div class="knap">
<Button variant="white">Create playlist</Button></div>
</div>
</div>
</section>

<style>
section{
    margin-top: 0.5rem;
	padding: 0;
	color: white;
	max-width: 16rem;
	height: 260px;
	border-radius: 10px;
	background-color: #121212;
}

.header{
    display: flex;
    align-items: center;
    color: #A7A7A7;
    padding: 7% 0% 0% 5%;
}
.header a{
    color: #A7A7A7;
    font-size: 0.9rem;
	padding: 0% 47% 0% 4%;
    text-decoration: none;
    transition: all 0.3s ease;

}
.header a:hover{
    color: white;
}

.header svg{
    fill: #A7A7A7;
}
.box {
    padding: 4% 0% 0% 2%;

}
.playlist {
    max-width: 14rem;
    height: 8rem;
    border-radius: 10px;
    background-color: #242424;
    padding: 3% 0% 2% 7%;
}

.playlist h3 {
padding: 0;
margin: 4% 0% 4% 0%;
}

h3{
    font-size: 1rem;
}

p{
padding: 0;
margin: 4% 0% 4% 0%;
font-size: 0.8rem;
}
.knap{
    margin: 7% 0% 0% 0%;
}
</style>